#main-content {
    background: linear-gradient(-45deg, black, transparent);
}

#user-input input, #user-input button, #user-input select {
    width: 100%;
}

#user-input button {
    font-size: .81rem;
}

#progress-indicator, #error-log {
    display: none;
}

#recording-editor button {
    width: 100%;
    font-size: 13px;
    padding: .10rem .5rem;
}

.recording-file-ui {
    background: black;
    color: white;
    font-size: 14px;
}

#vid-artwork-img {
    height: 150px;
    width: 100%;
}

#xml-data span {
    display: inline;
}
